#SUBMIT_AGGAA5V0HDRT0ANAI3KLEJKYA9HP3X
{
    display:none;
}

.navLetters
{
    margin-top: 65px;
}

.alpha-holder
{
    margin-top: 10px;
}
.survey-name
{
    font-weight: bold;
    font-size: 1.05em;
}

.survey-description
{
    display:block;
}
