<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Kinetic Data Survey/Request</display-name>
    <description>Deliver online surveys and service catalogs from BMC Remedy.</description>
    <context-param>
        <description>Optional data directory for Kinetic Survey and Kinetic Request 
            (logs, configs, work, etc...). To override the default storage location for
            Kinetic Survey and Kinetic Request files that will be written to disk 
            (log files, property files, attachment uploads, etc...), enter the full path to
            the directory you wish to use.  If this value is blank, the default location will
            be used which is the WEB-INF directory within the deployed Kinetic Survey and
            Kinetic Request web application.
        </description>
        <param-name>DATA_DIRECTORY</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <description>The name of the cookie that is used to set the session id.  If this value is 
            set, sessions will be persisted in the browser between restarts.  If this value is not 
            set, session cookies will not be persisted between browser restarts.  The value of this
            parameter should be set to the name of the session cookie generated by the web server,
            for most systems this will be 'JSESSIONID'.  
        </description>
        <param-name>SESSION_COOKIE_NAME</param-name>
        <param-value/>
    </context-param>
    <filter>
        <description>This filter ensures characters are encoded to the specified character encoding.  Default encoding is UTF-8.  This works with all Western languages, as well as Polish and Chinese.</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.CharsetFilter</filter-class>
        <init-param>
            <description>The default character encoding.</description>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <description>Checks if the application has been configured.</description>
        <filter-name>StartupFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.StartupFilter</filter-class>
    </filter>
    <filter>
        <description>This filter denies requests vulnerable to Cross-Site Request Forgery attacks.</description>
        <filter-name>CsrfFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.CsrfFilter</filter-class>
    </filter>
    <filter>
        <description>This filter applies the configured iframe policy headers (X-Frame-Options and Content-Security-Policy) to all requests.</description>
        <filter-name>FramePolicyFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.FramePolicyFilter</filter-class>
    </filter>
    <filter>
        <description>This filter ensures only the allowed request methods are used.</description>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <description>This filter retrieves the timezone of the client browser.</description>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.TimeZoneDetectionFilter</filter-class>
    </filter>
    <filter>
        <description>This filter ensures the user is authenticated.</description>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <description>Checks user's session is still active for better messages/re-authentication</description>
        <filter-name>Session Check Filter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.SessionCheckFilter</filter-class>
    </filter>
    <filter>
        <description>Checks the HTTP session for a recording id, and sets the com.kd.ksr.profiling.Profiler thread local recording if an id was present.</description>
        <filter-name>ProfilingRecordingFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.ProfilingRecordingFilter</filter-class>
    </filter>
    <filter>
        <description>Ensures the user is the Configuration User.</description>
        <filter-name>ConfigurationUserFilter</filter-name>
        <filter-class>com.kineticdata.ksr.web.filters.ConfigurationUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StartupFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CsrfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FramePolicyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProfilingRecordingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <servlet-name>DisplayPage</servlet-name>
        <servlet-name>ReviewRequest</servlet-name>
        <servlet-name>AdminConsole</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AdminConsole</servlet-name>
        <servlet-name>ImportTemplate</servlet-name>
        <servlet-name>ExportTemplate</servlet-name>
        <servlet-name>LogCopyDownload</servlet-name>
        <servlet-name>RecordPollerAdmin</servlet-name>
        <servlet-name>TaskManagerServlet</servlet-name>
        <servlet-name>DiagnosticsConsole</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Session Check Filter</filter-name>
        <url-pattern>/resources/includes/sessionCheck.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConfigurationUserFilter</filter-name>
        <servlet-name>SetupWizardServlet</servlet-name>
        <url-pattern>/app/installer</url-pattern>
        <url-pattern>/app/installer/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.kineticdata.ksr.web.listeners.RequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.kineticdata.ksr.web.listeners.StartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>WorklogCreateServlet</servlet-name>
        <display-name>Worklog Creatson Servlet</display-name>
        <description>Allows submission of worklogs</description>
        <servlet-class>WorklogCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorklogCreateServlet</servlet-name>
        <url-pattern>/WorklogCreate/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <description>Provides access to attachment files...</description>
        <servlet-class>com.kd.ksr.servlets.DownloadAttachmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <url-pattern>/DownloadAttachment/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>handles page submissions</description>
        <servlet-name>SubmitPage</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.SubmitPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiagnosticsConsole</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.DiagnosticsConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPage</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.DisplayPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissionLock</servlet-name>
        <servlet-class>com.kd.ksr.locking.SubmissionLockServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequest</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.ReviewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequestPage</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.ReviewRequestPage</servlet-class>
    </servlet>
    <servlet>
        <description>Uploads file attachments</description>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <description>Service Data request through Kinetic Bridges</description>
        <servlet-name>BridgeDataRequest</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.BridgeDataRequest</servlet-class>
    </servlet>
    <servlet>
        <description>Service Data request into Remedy</description>
        <servlet-name>SimpleDataRequest</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.SimpleDataRequest</servlet-class>
    </servlet>
    <servlet>
        <description>Prior page support</description>
        <servlet-name>PreviousPage</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.PreviousPage</servlet-class>
    </servlet>
    <servlet>
        <description>Default Authentication support</description>
        <servlet-name>KSAuthenticationServlet</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.KSAuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportTemplate</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.ExportTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportTemplate</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.ImportTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogCopyDownload</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.LogCopyDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskManagerServlet</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.TaskManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <jsp-file>/resources/Notfound.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Manage the Kinetic record poller for Task processing</description>
        <servlet-name>RecordPollerAdmin</servlet-name>
        <servlet-class>com.kd.kineticSurvey.record.KineticRecordPollerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminConsole</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.AdminConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupWizardServlet</servlet-name>
        <servlet-class>com.kineticdata.ksr.installer.web.SetupWizardServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Clones an existing template, generating a new name.</description>
        <servlet-name>CloneServlet</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.CloneServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <description>Updates the password of an existing User record.</description>
        <servlet-name>ForcePwdChange</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.ForcePwdChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskTreeServlet</servlet-name>
        <servlet-class>com.kineticdata.request.task.TaskTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeployedResourceServlet</servlet-name>
        <servlet-class>com.kineticdata.ksr.web.servlets.DeployedResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiagnosticsConsole</servlet-name>
        <url-pattern>/app/diagnostics/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPage</servlet-name>
        <url-pattern>/DisplayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPage</servlet-name>
        <url-pattern>/servlet/DisplayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissionLock</servlet-name>
        <url-pattern>/SubmissionLock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequest</servlet-name>
        <url-pattern>/ReviewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequestPage</servlet-name>
        <url-pattern>/ReviewRequestPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPage</servlet-name>
        <url-pattern>/SubmitPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPage</servlet-name>
        <url-pattern>/servlet/SubmitPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BridgeDataRequest</servlet-name>
        <url-pattern>/BridgeDataRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleDataRequest</servlet-name>
        <url-pattern>/SimpleDataRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPage</servlet-name>
        <url-pattern>/PreviousPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KSAuthenticationServlet</servlet-name>
        <url-pattern>/KSAuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportTemplate</servlet-name>
        <url-pattern>/app/admin/ExportTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportTemplate</servlet-name>
        <url-pattern>/app/admin/ImportTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogCopyDownload</servlet-name>
        <url-pattern>/app/logs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskManagerServlet</servlet-name>
        <url-pattern>/TaskManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminConsole</servlet-name>
        <url-pattern>/AdminConsole</url-pattern>
        <url-pattern>/app</url-pattern>
        <url-pattern>/app/admin/</url-pattern>
        <url-pattern>/app/admin/*</url-pattern>
        <url-pattern>/app/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupWizardServlet</servlet-name>
        <url-pattern>/app/installer</url-pattern>
        <url-pattern>/app/installer/</url-pattern>
        <url-pattern>/app/installer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordPollerAdmin</servlet-name>
        <url-pattern>/RecordPollerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloneServlet</servlet-name>
        <url-pattern>/CloneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForcePwdChange</servlet-name>
        <url-pattern>/ForcePwdChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskTreeServlet</servlet-name>
        <url-pattern>/api/v1/task-trees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeployedResourceServlet</servlet-name>
        <url-pattern>/surveys/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>resources/Welcome.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/app/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/app/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/app/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/resources/Notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/app/500.jsp</location>
    </error-page>
</web-app>
