<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <display-name>Kinetic Data Survey/Request</display-name>
    <description>Deliver online surveys and service catalogs from BMC Remedy.</description>
    <filter>
        <description>This filter ensures characters are encoded to the specified character encoding.  Default encoding is UTF-8.  This works with all Western languages, as well as Polish and Chinese.</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.CharsetFilter</filter-class>
        <init-param>
            <description>The default character encoding.</description>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <description>This filter ensures only the allowed request methods are used.</description>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <description>This filter retrieves the timezone of the client browser.</description>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.TimeZoneDetectionFilter</filter-class>
    </filter>
    <filter>
        <description>This filter checks if the user is a Survey or Request Manager.</description>
        <filter-name>Manager Filter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.ManagerFilter</filter-class>
    </filter>
    <filter>
        <description>This filter authenticates the user is the Configuration User or Admin.</description>
        <filter-name>Admin Console Filter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.AdminConsoleFilter</filter-class>
    </filter>
    <filter>
        <description>Checks user's session is still active for better messages/re-authentication</description>
        <filter-name>Session Check Filter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.SessionCheckFilter</filter-class>
    </filter>
    <filter>
        <description>Checks the HTTP session for a recording id, and sets the com.kd.ksr.profiling.Profiler thread local recording if an id was present.</description>
        <filter-name>ProfilingRecordingFilter</filter-name>
        <filter-class>com.kd.kineticSurvey.filters.ProfilingRecordingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProfilingRecordingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <servlet-name>DisplayPage</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <servlet-name>ReviewRequest</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeZoneDetectionFilter</filter-name>
        <servlet-name>AdminConsole</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Manager Filter</filter-name>
        <servlet-name>AdminConsole</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Manager Filter</filter-name>
        <servlet-name>ExportTemplate</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Manager Filter</filter-name>
        <servlet-name>ImportTemplate</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <url-pattern>/resources/consoles/jsp/manager_partials/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>ConfigServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>LogCopyDownload</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>RecordPollerAdmin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>TaskManagerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <url-pattern>/resources/consoles/jsp/admin_partials/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>CacheManager</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Console Filter</filter-name>
        <servlet-name>PerformanceManager</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Session Check Filter</filter-name>
        <url-pattern>/resources/includes/sessionCheck.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Loads all the property information for Survey</description>
        <servlet-name>SurveyInit</servlet-name>
        <servlet-class>com.kd.kineticSurvey.impl.SurveyInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Loads the HTML Editor for a Survey</description>
        <servlet-name>AdvanceEditor</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.AdvanceEditor</servlet-class>
    </servlet>
    <servlet>
        <description>Saves all changes to the HTML Editor layout for a Survey</description>
        <servlet-name>SaveEditorValues</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.SaveEditorValues</servlet-class>
    </servlet>
    <servlet>
        <description>handles page submissions</description>
        <servlet-name>SubmitPage</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.SubmitPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CacheManager</servlet-name>
        <servlet-class>com.kd.ksr.servlets.CacheManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformanceManager</servlet-name>
        <servlet-class>com.kd.ksr.servlets.PerformanceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPage</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.DisplayPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissionLock</servlet-name>
        <servlet-class>com.kd.ksr.locking.SubmissionLockServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequest</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.ReviewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequestPage</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.ReviewRequestPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyLoggingManager</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.SurveyLoggingManager</servlet-class>
    </servlet>
    <servlet>
        <description>Provides an encrypted string based on two key values</description>
        <servlet-name>KDEncrypter</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.KDEncrypter</servlet-class>
    </servlet>
    <servlet>
        <description>Uploads file attachments</description>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <description>Service Data request through Kinetic Bridges</description>
        <servlet-name>BridgeDataRequest</servlet-name>
        <servlet-class>com.kd.ksr.servlets.BridgeDataRequest</servlet-class>
    </servlet>
    <servlet>
        <description>Service Data request into Remedy</description>
        <servlet-name>SimpleDataRequest</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.SimpleDataRequest</servlet-class>
    </servlet>
    <servlet>
        <description>Prior page support</description>
        <servlet-name>PreviousPage</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.PreviousPage</servlet-class>
    </servlet>
    <servlet>
        <description>Default Authentication support</description>
        <servlet-name>KSAuthenticationServlet</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.KSAuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportTemplate</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.ExportTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportTemplate</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.ImportTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogCopyDownload</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.LogCopyDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskManagerServlet</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.TaskManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <jsp-file>/resources/Notfound.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Manage the Kinetic record poller for Task processing</description>
        <servlet-name>RecordPollerAdmin</servlet-name>
        <servlet-class>com.kd.kineticSurvey.record.KineticRecordPollerAdmin</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdminConsole</servlet-name>
        <servlet-class>com.kd.kineticSurvey.consoles.AdminConsole</servlet-class>
    </servlet>
    <servlet>
        <description>Updates the configuration properties.</description>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.ConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Clones an existing template, generating a new name.</description>
        <servlet-name>CloneServlet</servlet-name>
        <servlet-class>com.kd.kineticSurvey.migration.CloneServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <description>Updates the password of an existing User record.</description>
        <servlet-name>ForcePwdChange</servlet-name>
        <servlet-class>com.kd.kineticSurvey.servlets.ForcePwdChange</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <description>Provides access to attachment files...</description>
        <servlet-class>com.kd.ksr.servlets.DownloadAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorklogCreateServlet</servlet-name>
        <display-name>Worklog Creatson Servlet</display-name>
        <description>Allows submission of worklogs</description>
        <servlet-class>WorklogCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorklogCreateServlet</servlet-name>
        <url-pattern>/WorklogCreate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <url-pattern>/DownloadAttachment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KDEncrypter</servlet-name>
        <url-pattern>/KDEncrypter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceEditor</servlet-name>
        <url-pattern>/AdvanceEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditorValues</servlet-name>
        <url-pattern>/SaveEditorValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheManager</servlet-name>
        <url-pattern>/CacheManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceManager</servlet-name>
        <url-pattern>/PerformanceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPage</servlet-name>
        <url-pattern>/DisplayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPage</servlet-name>
        <url-pattern>/servlet/DisplayPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissionLock</servlet-name>
        <url-pattern>/SubmissionLock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequest</servlet-name>
        <url-pattern>/ReviewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequestPage</servlet-name>
        <url-pattern>/ReviewRequestPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPage</servlet-name>
        <url-pattern>/SubmitPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPage</servlet-name>
        <url-pattern>/servlet/SubmitPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyLoggingManager</servlet-name>
        <url-pattern>/surveylogging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BridgeDataRequest</servlet-name>
        <url-pattern>/BridgeDataRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleDataRequest</servlet-name>
        <url-pattern>/SimpleDataRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPage</servlet-name>
        <url-pattern>/PreviousPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KSAuthenticationServlet</servlet-name>
        <url-pattern>/KSAuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportTemplate</servlet-name>
        <url-pattern>/ExportTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportTemplate</servlet-name>
        <url-pattern>/ImportTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogCopyDownload</servlet-name>
        <url-pattern>/LogCopyDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskManagerServlet</servlet-name>
        <url-pattern>/TaskManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/logs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminConsole</servlet-name>
        <url-pattern>/AdminConsole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/Config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordPollerAdmin</servlet-name>
        <url-pattern>/RecordPollerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloneServlet</servlet-name>
        <url-pattern>/CloneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForcePwdChange</servlet-name>
        <url-pattern>/ForcePwdChange</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>resources/Welcome.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/resources/Notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/resources/Notfound.jsp</location>
    </error-page>
</web-app>
