/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

h1, h2
{
  font-family: "Fedra Sans Light";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Lato Regular', Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100%;
  //background: /*#dee7ee center bottom */ no-repeat url(images/headerBg.jpg);
}

body.open {
  overflow: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}
input[type="checkbox"], input[type="radio"]
{
  margin-top: 10px;
}
main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: auto;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}

@font-face
{
  font-family: 'Fedra Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/fedra-bold.ttf) format('truetype');
  //src: local('Fedra Sans Bold');
}

@font-face
{
  font-family: 'Fedra Sans Light';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/fedra-light.ttf) format('truetype');
  //src: local('Fedra Sans Light');
}

@font-face
{
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Lato-Regular.ttf) format('truetype');
  //src: local('Lato Regular');
}

.site-header, .view-port
{
}

.view-port
{
  max-width: 950px;
  padding: 0 20px 25px 20px;
  margin: 0 auto;
  clear:both;
  section.left-column
  {
    float: left;
    width: 66%;
  }
  aside.right-column
  {
    float: left;
    width: 34%;
    padding-top: 35px;

  }
  .left-column,.right-column
  {
    padding: 0 10px;
    min-width: 300px;
  }
}
/* Custom Header Stuff */

.site-header
{
  padding-top: 45px;
  .site-header-top
  {
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 950px;
    padding: 0 20px;
    a.logo
    {
      background: url(images/lahey-health-logo.png);
      background-size: contain;
      behavior: url(themes/simple-bright/common/resources/css/PIE.htc);
      width: 253px;
      height: 40px;
      padding: 10px 0 18px 0;
      display: inline-block;
      text-indent: -9000em;
    }
    .user-bar
    {
      margin-top: 15px;

      .user-acknowledge
      {
        padding-left: 70px;
        text-decoration: double;
        font-family: "Fedra Sans Light", Helvetica, sans-serif;
        margin-top: 15px;
      }
      .mini-nav
      {
        float: right;
        a
        {
          color: #747678;
          text-decoration: none;
          font-family: "Fedra Sans Light", Helvetica, sans-serif;
          margin-right: 10px;
          &:hover
          {
            text-decoration: underline;
            color: #000;
          }
          &.logout
          {
            .logout-button
            {
              @extend .fa;
              @extend .fa-power-off;
            }
          }
        }
        .divider
        {
          border-right: 1px #747678 solid;
          margin-right: 10px;
        }
        .name
        {

        }
      }
    }
  }
  .site-header-content
  {
    .nav-bar
    {
      margin: 15px 0 0 0;
      width: 100%;
      text-align: center;
      ul.nav-items
      {
        padding: 0 20px 0 20px;
        font-size: 17px;
        background: $colorPrimary3-2;
        border: 4px $colorPrimary3-1 solid;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        display: inline-block;
        width: 100%;

        li.nav-item
        {
          display: inline-block;
          color: #fff;
          margin: 0;

          background: $colorPrimary3-2;
          padding: 10px 10px;
          cursor: pointer;
          font-weight: 700;
          behavior: url(themes/simple-bright/common/resources/css/PIE.htc);
          &:hover
          {
            background: $colorPrimary3-1;
            transition: background-color 600ms ease;
          }
          &::before
          {
            content: none;
          }
          &:last-child
          {

          }
          a
          {
            color: #fff;
            text-decoration: none;
            &:visited
            {

            }
          }
        }

      }
    }

    .search
    {
      display: inline-block;
      float: right;
      padding-top: 10px;
      input.search-input
      {

        border: solid 1px $colorPrimary2-2;
        line-height: $lineHeight;
        color: #9fa2a5;
        padding: 0 5px;
        display: inline-block;
        height: 40px;
        float: left;
        width: 75px;
        transition: width 200ms ease;
        &.active
        {
          border-color: $colorPrimary3-2;
          width: 150px;
          transition: width 500ms ease;
        }
      }
      a.search-button
      {
        @extend .button--search;
        display: inline-block;
        //ie8 fix
        box-sizing: border-box;
        i
        {
          font-size: 20px;
        }
      }
    }
  }
}


/* Display page type stuff */
/* Pre-required label */
form#pageQuestionsForm div.preRequiredLabel:after,
div#reviewContent div.preRequiredLabel:after { color: $colorSecondary2-1 !important; content: "*"; }
form#pageQuestionsForm div.preRequiredLabel div.preRequiredLabel_checkbox:after,
div#reviewContent div.preRequiredLabel div.preRequiredLabel_checkbox:after { content: ""; }
form#pageQuestionsForm *.preRequiredLabel,
div#reviewContent *.preRequiredLabel { zoom: expression(setIE7PreRequired(this)); }

/* Other stuff */

div.templateSection
{
  padding-top: 20px;
  &:first-child
  {
    padding-top: 0;
  }
}

div.questionLayer
{
  margin: 0 40px 20px 40px;
  min-height: 55px;
  display: table;
  width: 100%;
  .questionLabel
  {
    padding: 5px;
    display: table-cell;
    width: 30%;
    vertical-align: middle;
  }
  .questionAnswer
  {
    border-top: 0;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
    select
    {

    }
    input.answerAttachment
    {
      height: 30px;
      float: left;
    }
    .templateButton
    {
      margin-top: 0;

    }
  }
}
.submitButton
{
  .templateButton
  {
    @extend .button--primary;
    margin-left: 40px;
  }
}

//required fields warning
.warningTitle
{
  h3
  {

  }
  ul
  {
    li
    {
      padding: 10px;
      font-size: 14px;
      color: $colorSecondary2-1;
    }
  }
}
/* Hiding/showing event stuff */

.qHide
{
  display: none !important;
}

/* login form */
#loginBox
{
  max-width: 600px;
  margin: 100px auto;
  .hText
  {
    .site-title
    {
      font-family: "Fedra Sans Bold", Helvetica, sans-serif;
      color: $colorSecondary1-1;
    }
    .login-title
    {
      font-size: 16px;
    }
  }
  .row
  {
    padding: 20px 0;
  }
  #message
  {
    p
    {
      padding: 0;
      font-size: 14px;
    }
  }

  .form-control
  {
    line-height: 30px;
  }
}