/* CSS Document */

body.loadAllPages_false {
    margin: 0;
    padding: 0;
}

body.loadAllPages_true {
    margin-left : 20%;
    margin-right : 20%;
}

#reviewContent #authenticatedName a {
    display: none !important;
}

.loadAllPages_false select {
    border-width : 0px !important;
}

.loadAllPages_true select {
    border-width : 0px !important;
}

.templateButtonLayer {
    display: none !important;
}

.loadAllPages_false .reviewPageDiv {
    float: left;
    width: 100%;
}

.loadAllPages_true .reviewPageDiv {
    float:none;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.loadAllPages_false #PAGE_ReviewPages {
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
}

.loadAllPages_false #PAGE_ReviewPages.frame {
    width: 95%;
}

.answerValue,
.answerTextarea,
.answerCheckbox,
.questionAnswer,
.dateMonth {
    border-width: 0px !important;
}

.loadAllPages_false #globalnav {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1em;
    background-color: #fff;
    float: left;
}

.loadAllPages_false #globalnav li {
    float: left;
    margin: 0;
    padding: 0;
}

.loadAllPages_false #globalnav a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    background: #ddd url('../catalogIcons/ltGrayBarBg.gif') repeat-x top left;
    margin: 0;
    padding: 0.3em 1em;
    border: 1px solid #bbb;
}

.loadAllPages_false #globalnav a.here:link,
.loadAllPages_false #globalnav a.here:visited {
    color: #000;
    border-left-color: #939393;
    border-top-color: #939393;
    position: relative;
    z-index: 102;
}

.loadAllPages_false #globalnav a:hover {
    color: #000;
    background: #ccc url('') repeat-x top left;
}

.loadAllPages_false #globalnav a.selectedTab {
    background: #bbb url('../catalogIcons/dkGrayBarBg.gif') repeat-x top left;
    color: #fff;
    border-left-color: #777;
    border-top-color: #777;
    border-right-color: #777;
}

.loadAllPages_false #reviewContent {
    float:left;
}
