/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 3) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;
  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: none;

  &:hover {
    background: #4d4d4d;
    color: #ffffff;

    text-decoration: none;
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $borderBottomColor, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px $borderBottomColor solid;
  border-bottom: $lineHeight/5 $borderBottomColor solid;
  cursor: pointer;
  text-align: center;
  @if $isInverted { border-color: transparent;}

  &:hover
  {
    background: $textColor;
    color: $color;
    transition: background 500ms ease, color 500ms ease 200ms;
  }
}
@mixin legacy-ie($ver: 8)
{
  .ie#{$ver} & {
    @content;
  }
}
@mixin style-square-button($color, $altColor, $textColor, $size, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px solid $color;
  height: $size;
  width: $size;
  padding: $size/5;
  cursor: pointer;
  text-align: center;
  @if $isInverted { border-color: transparent;}


  &:hover, &.active
  {
    background: $altColor;
    border-color: $altColor;
  }
}

.button--primary {
  @extend .button;
  @include style-button($colorPrimary3-2, #ffffff, $colorPrimary3-1);
}
.button--list
{
  @extend .button;
  @include style-button(#fff, #000, $colorPrimary2-2);
  font-family: "Lato Regular", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;

}
.button--search
{
  @extend .button;
  @include style-square-button($colorPrimary2-2, $colorPrimary3-2, #fff, 40px);
  margin: 0;


}
/*.button--secondary {
  @extend .button;
  @include style-button($colorPrimary3-1,#ffffff, $colorBlue);
}

.button--secondary-variation {
  @extend .button;
  @include style-button($colorPrimary3-3,#ffffff, $colorBlue, true);
}*/

.templateButton
{
  @extend .button--primary;
}