/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 3) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;
  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: none;

  &:hover {
    background: #4d4d4d;
    color: #ffffff;
    border: 1px solid #4d4d4d;
    text-decoration: none;
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $borderBottomColor, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px $borderBottomColor solid;
  border-bottom: $lineHeight/5 $borderBottomColor solid;
  @if $isInverted { border-color: transparent;}

  &:hover
  {

  }
}


.button--primary {
  @extend .button;
  @include style-button($colorPrimary3-2, #ffffff, $colorPrimary3-1);
}

/*.button--secondary {
  @extend .button;
  @include style-button($colorPrimary3-1,#ffffff, $colorBlue);
}

.button--secondary-variation {
  @extend .button;
  @include style-button($colorPrimary3-3,#ffffff, $colorBlue, true);
}*/