.info-box
{
  margin: 0 0 15px 0;
  &:first-child
  {
    margin-top: 100px;
  }
  .info-box-title
  {
    background: $colorPrimary1-1;
    padding: 5px 7px;
    i
    {
      width: 30px;
      color: $colorPrimary5-1;
      font-size: x-large;
      text-align: center;
    }
    h3
    {
      padding: 0;
      display: inline-block;
      font-family: "Fedra Sans Light", "Helvetica Nueue", Helvetica, sans-serif;
      font-size: 20px;
      margin: 0 0 0 1%;
    }
  }
  .info-box-content
  {
    background: $colorPrimary1-3;
    padding: .5em 0;
    .info-box-item
    {
      padding: 0 7px;
      margin-bottom: 12px;
      .item-timestamp
      {
        width: 30px;
        display: inline-block;
        font-size: .75em;
        line-height: 15px;
        float: left;
      }
      .item-summary
      {
        display:inline-block;
        max-width: 250px;
        font-size: .75em;
        margin: 0 0 0 1%;
      }
      p.item-message
      {
        font-size: 14px;
        padding: 0;
        line-height: 20px;
      }
    }
  }
}

.entry-box
{
  .entry-box-title
  {
    font-family: "Fedra Sans Light", "Helvetica NueueLight", Helvetica, sans-serif;
    font-size: 24px;
  }
  .entry-box-subtitle
  {
    font-family: "Lato Regular", "Helvetica NueueLight", Helvetica, sans-serif;
    font-size: 16px;
  }
  .offering-list
  {
    padding-left: 0;
    padding-top: 0;
    .offering
    {
      padding-left: 0;
      font-family: "Fedra Sans Light", Helvetica, sans-serif;
      font-size: 18px;
      margin: 10px;
      float: left;
      max-width: 235px;
      .incident-button
      {
        .ticket-icon
        {

        }
      }
      .request-button
      {
        .ticket-icon
        {
          @extend .fa-folder;

        }
      }
      .epic-button
      {
        .ticket-icon
        {
          @extend .fa-user-md;
          //LOL
          //@extend .fa-spin;
        }
      }
      .description
      {
        font-size: 12px;
      }
    }
  }
  .offering-button
  {
    width: 100%;
    @extend .button--primary;
    .ticket-icon
    {
      @extend .fa;
      @extend .fa-wrench;
      display: block;
      text-align: center;
      font-size: 2em;
    }
  }
}
.contact-info.dynamicText
{
  display: table;
  .person-info
  {
    display:table-cell;
    padding: 0 40px;
  }
}
.person-info
{
  display: inline-block;

  &:first-child
  {
    margin-right: 30px;
  }
  .person-info-title, .person-info-box
  {

  }
  .person-info-title
  {
    background: $colorInfoBoxHeader;
    color: $colorPrimary1-3;
    padding: 5px 15px;
    .person-info-change
    {
      @extend .fa;
      @extend .fa-gear;
    }
    .person-info-close
    {
      @extend .fa;
      @extend .fa-times-circle;
    }
    #changeCustomer
    {
      cursor: pointer;
      font-size: 17px;
    }
  }
  .person-info-box
  {
    padding: 15px;
    background: $colorInfoBoxBG;
    .person-info-search
    {
      .person-info-search-input
      {
        width: 100%;
        border: 1px $colorPrimary3-2 solid;
      }
      .person-info-search-list
      {
        padding: 0;
        text-align: center;
        max-height: 200px;
        overflow-y: auto;
        .search-indicator-icon
        {
          @extend .fa;
          @extend .fa-circle-o-notch;
          @extend .fa-spin;
          @extend .fa-3x;
          margin: 20px 0;
          color: $colorPrimary4-1;
        }
        .person-info-search-result
        {
          text-align: left;
          font-family: "Lato Regular", Helvetica, Arial;
          padding: 5px 10px;
          background: #fff;
          border: 1px $colorPrimary3-2 solid;
          border-top: 0;
          cursor: pointer;
          &:hover
          {
            background: $colorPrimary4-1;
            transition: all 300ms ease;
            .name
            {
              color: #fff;
            }
          }
          .name
          {
            color: #000;
            font-weight: 800;
            font-size: 12px;
          }
          .email
          {
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }

    .person-info-box-value
    {
      display: block;
    }
  }
}

/*
Display Page section stuff
*/
.section-header
{
  background: $colorSectionHeaderBG;
  padding: 5px 15px;
  margin-bottom: 20px;
  .section-header-icon
  {
    color: $colorPrimary5-1;
    margin-right: 30px;
    font-size: 1.75em;
    position: relative;
    top: -2px;
  }
  .section-header-title
  {
    display:inline-block;
    padding: 0;
    font-size: 36px;
    font-family: "Fedra Sans Light", Helvetica, sans-serif;
  }
}

/*

*/

h1.page-title
{
  color: $colorPrimary3-1;
  font-size: 64px;
  margin: 20px 0;
  padding-top: 0;
}