@charset "utf-8";
body, html, div, h1, h2, h3, h4
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
*{    
    outline:none;
}
/* Bootstrap overrides*/
select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="tel"], 
input[type="color"], 
input[type="search"], 
.uneditable-input {
    min-height: 35px;
    height: auto;
}
select
{
    height: 28px; min-width: 175px;
}
    select.dateMonth, select.dateDay
    {
        min-width: 0;

    }
/* Form, confirmation display page */
form#pageQuestionsForm,
div#pageQuestionsForm {
    *zoom: 1;
    margin: 0;
    padding: 0px 20px 20px 20px;
    background-color: #EFEFEF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
/* Clearfix, for floats */
form#pageQuestionsForm:before,
div#pageQuestionsForm:before,
form#pageQuestionsForm:after,
div#pageQuestionsForm:after {
    display: table;
    content: "";
    line-height: 0;
}
form#pageQuestionsForm:after,
div#pageQuestionsForm:after {
    clear: both;
}

/* Checkboxes */
form#pageQuestionsForm div.answerCheckbox,
div#reviewContent div.answerCheckbox { margin-right: 5px; }
form#pageQuestionsForm div.answerCheckbox, div#reviewContent div.answerCheckbox
{
    margin: 0 10px 0 10px;
}

form#pageQuestionsForm .CBcolumns div.answerCheckbox, div#reviewContent .CBcolumns div.answerCheckbox
{
    display: inline-block;
    width: 40%;
}
/* Template Content */
form#pageQuestionsForm div.templateContent,
div#reviewContent div.templateContent { 
    overflow: visible !important; 
}

/* Template Section */
form#pageQuestionsForm div.templateSection,
div#reviewContent div.templateSection {
    margin: 0 0 0 0;
    padding: 0 20px 10px 20px;
    overflow: visible !important;
    clear:both;
    position: relative;
    z-index: 50;
}

/* Section header */
form#pageQuestionsForm div.sectionHeader,
div#reviewContent div.sectionHeader {
    overflow: visible !important;  
    font-weight: bold;
    font-size: 12pt;
    position: relative !important;
    top: -20px;
    padding-left: 3px;
    padding-right: 3px;
    color: #3D6699;
    background-color: #F2F2F2;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.templateSection.jda-section
{
    max-width: 800px;
}
.jda-header
{
    padding-left: 20px;
}
.jda-header>div
{
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    font-weight: 700;
}
    .jda-header>.jda-groups-label
    {
        width: 130px;
    }
    .jda-header>.jda-level-label
    {
        width: 335px;
    }
    .jda-header>.jda-outq-label
    {
        width: 175px;
    }
/* JDA Groups Questions */
form#pageQuestionsForm div.questionLayer.jda-groups,
div#reviewContent div.questionLayer.jda-groups
{
    float:left;
    width: 175px;
}
    form#pageQuestionsForm div.questionLayer.jda-groups div.answerCheckbox,
    div#reviewContent div.questionLayer.jda-groups div.answerCheckbox
    {
        height: 45px;
    }
/* JDA Level Questions */
form#pageQuestionsForm div.questionLayer.jda-level,
div#reviewContent div.questionLayer.jda-level
{
    width: 350px;
    padding-left: 10px;
    float:left;
    height: 45px;
}
    form#pageQuestionsForm div.questionLayer.jda-level select,
    div#reviewContent div.questionLayer.jda-level select
    {
        min-width: 335px;
    }
/* JDA OutQ Questions */
form#pageQuestionsForm div.questionLayer.jda-outq,
div#reviewContent div.questionLayer.jda-outq
{
    padding-left:10px;
    float:left;
    height: 45px;
}
    form#pageQuestionsForm div.questionLayer.jda-outq select,
    div#reviewContent div.questionLayer.jda-outq select
    {
      /*  min-width: 175px;*/
    }
/* Question layer */
form#pageQuestionsForm div.questionLayer,
div#reviewContent div.questionLayer { 
    padding: 10px 0px 0px 50px;
    position:relative;
    z-index: 50;
}

form#pageQuestionsForm div.questionAnswer,
div#reviewContent div.questionAnswer { position: relative; margin-left: 250px; line-height: 30px; }

form#pageQuestionsForm div.questionLayer:after,
div#reviewContent div.questionLayer:after {
    content: "";
    clear: both;
    display: block;
}

/* Label */
form#pageQuestionsForm div.questionLabel,
body.loadAllPages_false div#reviewContent div.questionLabel {
    float: left;
    width: 250px;
    font-weight: normal;
    margin-top: 5px;
}
/* no label */
form#pageQuestionsForm div.questionLayer.no-label .questionLabel, div#reviewContent div.questionLayer.no-label .questionLabel
{
    display: none;
}
form#pageQuestionsForm div.questionLayer.no-label .questionAnswer, div#reviewContent div.questionLayer.no-label .questionAnswer
{
    margin-left: 0;
}

/* Pre-required label */
form#pageQuestionsForm div.preRequiredLabel:after,
div#reviewContent div.preRequiredLabel:after { color: red !important; content: "* "; }
form#pageQuestionsForm div.preRequiredLabel div.preRequiredLabel_checkbox:after,
div#reviewContent div.preRequiredLabel div.preRequiredLabel_checkbox:after { content: ""; }
form#pageQuestionsForm *.preRequiredLabel,
div#reviewContent *.preRequiredLabel { zoom: expression(setIE7PreRequired(this)); }

/* Buttons */
div[label="Bottom of Page"] {
    padding: 0px 0px 10px 0px !important;
    margin: 0 !important;
}
div[label="Bottom of Page"] div[label="Save Button"],
div[label="Bottom of Page"] div[label="Cancel Button"] { 
    padding: 2px !important; 
    float: left; 
}

/* Form Controls */
input[type="radio"] { margin: 0 5px 0 10px; }
input[type="checkbox"] { margin: 4px 5px 0 0; }
form#pageQuestionsForm div.templateSection[label="Bottom of Page"] { float: left; margin: 0; padding: 0; }
form#pageQuestionsForm div.previousButton { float: right !important; margin: 2px 0 0 0; }
form#pageQuestionsForm div.submitButton { float: right !important; margin: 2px 0 0 4px; }

.note{
    font-size: 10pt;
    margin: 0px 20px 0px 20px;
	font-weight: bold;
}

.indentednote{
    margin-right: 20px;
    margin-left:255px;
    font-size: 9pt;
    font-weight: normal;
    color:#222222;
}

.checkboxleft{
    margin-left:-250px;
}

/* File Upload */
a.fileLink {
    margin-right: 0 !important;
    width: 214px;
    display: inline-block;
}

/* Review instructions */
#instructions {
    font-weight: bold;
    color: red;
    display: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

/* Responsive */
@media (max-width: 992px) {
    /* Form, confirmation display page */
    form#pageQuestionsForm,
    div#pageQuestionsForm { padding: 10px; }
    /* Template Section */
    form#pageQuestionsForm div.templateSection,
    div#reviewContent div.templateSection { padding: 10px; }
    /* Question layer */
    form#pageQuestionsForm div.questionAnswer,
    div#reviewContent div.questionAnswer
    {
        margin: 0;
    }
    /* Label */
    form#pageQuestionsForm div.questionLabel,
    body.loadAllPages_false div#reviewContent div.questionLabel {
        float: none;
        width: auto;
        margin-bottom: 5px;
    }
    /* Form controls */
    input[type="checkbox"],
    input[type="radio"] { margin: 10px 5px 20px 10px; width: 15px; }
}
@media (max-width: 480px) {
    select, 
    textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="tel"], 
    input[type="color"], 
    input[type="search"], 
    .uneditable-input { width: 100%; }
    select
    {
        height: 28px;

    }
    form#pageQuestionsForm div.submitButton {
        margin: 2px 0 0 0;
    }
}

/* CONSENT PAGE */
form#pageQuestionsForm .consent-page div.questionAnswer, div#reviewContent .consent-page div.questionAnswer
{
    margin: 0;
    display: inline-block;
}

form#pageQuestionsForm .consent-page div.questionLabel, body.loadAllPages_false div#reviewContent .consent-page div.questionLabel
{
    width: auto;
    display: inline-block;
}

form#pageQuestionsForm .consent-page div.questionLayer, div#reviewContent .consent-page div.questionLayer
{
    padding: 0;
}

/* GENERAL OVERRIDES */

.contact-info
{
    min-height: 80px;
    margin-left: 45px;
}
.contact-info address
{
    margin: 0;
}
.contact-info address strong
{
    margin-left: -10px;
}

#changeCustomer
{

}
.popover.search-popover
{
    max-width: 400px;
}
.popover.search-popover.right .arrow
{
    top: 45px;
}
#peopleResults
{
    margin-top: 20px;
    max-height: 300px;
    overflow-y: scroll;
}
#peopleResults li
{
    cursor: pointer;
    padding: 5px 5px;
}

#peopleResults p
{
    margin: 0;
}

#peopleResults .name
{
    font-weight: 700;
}

#peopleResults .email
{
    text-decoration: underline;
}

#peopleResults li:hover, .list-group.dropdown-list li.list-group-item:hover
{
    border-left: 3px solid #384A9C;
    border-right: 3px solid #384A9C;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -kthtml-transition: all .2s linear;
    transition: all .2s linear;
}

#searchIndicator
{
    text-align: center;
}

#reviewContent .ruleHolder
{
    display: none;
}

#reviewContent .table-button, #reviewContent .table-deleteButton
{
    display:none;
}

/* CUSTOM */
.col-labels
{
    text-align: center;
}

.ruleHolder .input-group
{
    display: inline-block;
}

.ruleHolder
{
    margin-bottom: 10px;
}

ul.reqNotes>li>p
{
    font-weight: 900;
}
div.tempateSection.question-section
{
    border: 0;
    border-radius: 15px;
    padding-bottom: 30px !important;
    clear: both;
}

.submitButton
{
    clear: both;
}

.clearboth
{
    clear:both;
}

/*.hide
{
    display: none !important;
}*/
/* Not sure if necesary.. */
.reviewPageDiv [label="Approvals"] .hide.showOnReview
{
    display: block;
}
.groups-question .answerCheckbox
{
    width: 91px;
    height: 40px;
}

.subsection-container
{
    line-height: 50px;
}

.subsection-label
{
    line-height: inherit;
}

.subsection-container
{
    line-height: 32px;
    cursor: pointer;
}

.table-deleteButton
{
    color: red;
}

.table-button, .table-deleteButton
{
    width: 30px;
    text-align: center;
}

.price
{
    font-weight: bolder;
    margin-left: 10px;
}
span.price:before
{
    content: "$";
}
/*
.searchableList .questionAnswer
{
    width: 75%;
}
.searchableList .questionAnswer .combobox-container>.input-group>.answerSelect
{
    width: 100%;
} */

.request-page-list
{
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto;
}
.request-page-list .request-page
{
    display: table-cell;
    padding: 0 10px;
    background-color: #428bca;
    color: #fff;
}
.request-page-list .request-page.completed
{
    background-color: #dff0d8;
    color: #000;
}
.request-page-list .request-page.active
{
    background-color: #fcf8e3;
    color: #000;
}

/*
    Confirmation page
*/
#pageQuestionsForm>p:first-child
{
    margin-top: 15px;
}

.list-group.dropdown-list
{
    border-bottom: 1px solid #ddd;
}
.list-group.dropdown-list li.list-group-item
{
    font-size: 1em;
    padding: 0 10px;
    cursor: pointer;
}

/*
    Custom date picker style
*/
.datepicker-holder
{
    position: absolute;
    top: 20px;
    left: 50%;
    background: #fff;
}
